.shop-section {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 2rem;

}

.shop-container {
    margin: 1rem;
}

.product-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.cart-section {
    background: #FF99004D;
    border-radius: 8px;
    max-height: 600px;
}


@media (max-width: 768px) {
    .product-section {
        grid-template-columns: repeat(2, 1fr);
    }
}
